<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Mi Proyecto{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!-- Header -->
        <header>
            <nav>
                <a href="{% url 'inventario' %}" class="logo">
                    <img id="logo" src="{% static 'img/geekmanager_gato_vertical.png' %}" alt="Gato Geek">
                    <div class="hero"></div>
                </a>
                <!-- Formulario de búsqueda -->
                <form id="searchForm">
                    <input type="text" id="searchInput" placeholder="Buscar por nombre">
                    <button type="submit">Buscar</button>
                </form>
                <!-- Botón hamburguesa -->
                <button class="hamburger" aria-label="Menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                
                <!-- Menú principal -->
                <ul class="nav-menu">
                    <li>
                        <a href="{% url 'inventario' %}">Inicio</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Contenido principal -->
        <main>{% block content %} {% endblock %}</main>
        <!-- Footer -->
        <footer>
            <p>© 2025 Mi Proyecto</p>
        </footer>
        <!-- Script para la búsqueda dinámica -->
        <script>
      const searchForm = document.getElementById("searchForm");
      const searchInput = document.getElementById("searchInput");

      searchForm.addEventListener("submit", function (event) {
        event.preventDefault();
        const query = searchInput.value;
        // Redirigir a la vista de inventario con el parámetro de búsqueda
        window.location.href = `/inventario/?search=${query}`;
      });
        </script>
    </body>
</html>

<script>
    // Menú hamburguesa
    const hamburger = document.querySelector('.hamburger');
    const navMenu = document.querySelector('.nav-menu');
    
    hamburger.addEventListener('click', () => {
        // Alternar clase 'active' en el menú
        navMenu.classList.toggle('active');
        
        // Animación del botón hamburguesa a X
        hamburger.classList.toggle('active');
    });
    
    // Cerrar menú al hacer clic en un enlace
    document.querySelectorAll('.nav-menu a').forEach(link => {
        link.addEventListener('click', () => {
            navMenu.classList.remove('active');
            hamburger.classList.remove('active');
        });
    });
</script>
