{% extends "base.html" %}
{% block content %}
<div class="form-container crear-inventario">
    <h1>Añadir</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Información del objeto</h2>
        <div class="form-group">
            {% for field in inventario_form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="error">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        
        <h2>Imágenes</h2>
        <div class="image-formset">
            {{ image_formset.management_form }}
            {% for form in image_formset %}
                <div class="image-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>
        
        <div class="buttons-container">
            <button type="submit" class="btn-submit">Crear</button>
            <a href="{% url 'inventario' %}" class="btn-cancel">Volver</a>
        </div>
    </form>
</div>
{% endblock %}