<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Inventario</h1>

    <a href="{% url 'crear_inventario' %}">Crear Inventario</a>

    <ul>
        {% for inventario in inventario %} 
            <li>
                <a href="{% url 'ver_inventario' inventario.id %}">{{ inventario.nombre_objeto }}</a>
            </li>
        {% endfor %}
    </ul>
    

    
</body>
</html>